- 
    const xTabs = [ 1, 2, 3, 4, 5, 6, 7 ]
    const yTabs = [ 1, 2, 3, 4, 5, 6 ]


h1( class='mt-12 text-blue-800 text-xl font-light text-center mb-16' ) Connect 4
div( class='main bg-gray-900 m-auto flex flex-wrap p-6' )
    each xTab, xIndex in xTabs
        div( class = 'col' )
            each yTab, yIndex in yTabs
                div(
                    class=`dots empty bg-gray-500 rounded-full m-2 dots-${yIndex}`
                    key = yIndex
                )
